html,
body {
  font-family: "Open sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-size: large;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: #dfdddd;
}

.header {
  background-color: #fefefe;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.card {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card i {
  font-size: 1.5rem;
}

.icon-bg {
  width: 50px;
  height: 50px;
}
