html,
body {
  font-family: "Open sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-size: large;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee7e4;
}
.navbar {
  position: absolute;
  width: 100%;
  z-index: 10;
}
.navbar-brand {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-style: italic;
}
.order-image img {
  height: 70vh;
  width: 100%;
  object-fit: cover;
}

/* Stile per il footer */
.contact-info a,
.social-links a {
  color: #fff;
  text-decoration: none;
}

.contact-info a:hover,
.social-links a:hover {
  color: #ef5637ee;
}

.social-links p {
  font-style: italic;
}
