html,
body {
  font-family: "Open sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-size: large;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee7e4;
}
.navbar {
  position: absolute;
  width: 100%;
  z-index: 10;
}
.navbar-brand {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-style: italic;
}
.order-image img {
  height: 70vh;
  width: 100%;
  object-fit: cover;
}

/*Product slider*/
.slider {
  background-color: #e7dbd6;
  backdrop-filter: blur(10px);
}

.nav-underline .nav-link {
  display: inline-block;
  width: 50%;
}
.nav-underline .nav-link.active {
  display: inline-block;
  width: 50%;
}

.nav-underline .nav-link:hover {
  display: inline-block;
  width: 50%;
}

/*card*/
.card:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  background-color: #212529;
  color: white;
}

.modal-header {
  background-color: #d5ccc8;
  color: black;
}
/* Stile per il footer */
.contact-info a,
.social-links a {
  color: #fff;
  text-decoration: none;
}

.contact-info a:hover,
.social-links a:hover {
  color: #dc3545;
}

.social-links p {
  font-style: italic;
}
